<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/dataTables.min.css">
    <script src="js/third_party/jquery.min.js"></script>
    <script src="js/third_party/dataTables.min.js"></script>

    <title>Таблица</title>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <script src="js/third_party/axios.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div class="float-end">
        <input type="button" class="btn btn-primary" onclick="unauth()" value="Выйти">
    </div>
    <br>


    <div class="container mx-auto">
        <!-- Форма для загрузки файлов -->
        {{ if .Admin }}
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="fileInput" class="form-label">Выберите файл для загрузки:</label>
                <input class="form-control" type="file" id="fileInput" name="file"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </div>
            <input type="button" class="btn btn-primary" onclick="uploadFile()" value="Загрузить файл">
        </form>
        {{ end }}

        <br>

        <table id="mainTable" class="display table table-hover">
            <thead>
                <tr>
                    {{ range .Data }}
                    <th class="text-muted h6"><small>{{.}}</small></th>
                    {{ end }}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</body>

</html>